<footer class="footer">
    <a class="footer-text" href="https://delbertbeta.cc">@delbertbeta</a>
    <br />
    <span class="footer-text">Powered by
        <a href="https://www.github.com/delbertbeta/rajio/">rajio</a> with
        <i class="material-icons red-icon">favorite</i>
    </span>
</footer>