<header class="header">
    <i class="material-icons header-icon">radio</i>
    <span class="header-title">rajio</span>
    <span class="header-expaination">a way to share your files</span>
    <span class="history-entry"><i class="material-icons">history</i></span>
    <div class="history-panel">
        <table>
            <tr>
                <th>Name</th>
                <th>Downloads</th>
                <th>Upload Time</th>
                <th>Delete</th>
            </tr>
            <tr>
                
            </tr>
        </table>
        <div class="empty-tip">Oh god there is no to upload some file.</div>
    </div>
</header>