<div id="historyPanel" class="history-panel hide">
    <div class="table-wrapper">
        <table>
            <tbody id="historyTable" >
                <tr>
                    <th width="120">Name</th>
                    <th width="150">Download</th>
                    <th width="320">Upload Time</th>
                    <th width="60">Delete</th>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="historyEmpty" class="empty-tip hide">Oops! Empty here.</div>
    <div id="renewButton" class="renew-button"><div><i class="material-icons">refresh</i>Clear history and renew a identifier</div></div>
</div>