<div class="hide" id="data">
  <%= data %>
</div>

<div class="info-text-wrapper">

  <div class="info-text">
    <div class="title">FILES</div>
    <div class="text" id="fileCount"></div>
  </div>

  <div class="info-text">
    <div class="title">DOWNLOADS</div>
    <div class="text" id="downloadCount"></div>
  </div>

  <div class="info-text">
    <div class="title">DISK</div>
    <div class="text" id="diskText"></div>
    <div class="graph">
      <div class="graph-inner" id="diskGraph"></div>
    </div>
  </div>

</div>

<div class="chart-wrapper">
  <div class="chart" id="chart"></div>
</div>