<div id="fileUploader" class="uploader-file-container">
    <i class="material-icons upload-icon">file_upload</i>
    <div class="tip-text">Drop a file here to upload</div>
    <div class="tip-text-small">Ensure that your file is less than 128MB</div>
    <div id="fileUploadButton" class="upload-button">Select a file to upload</div>
    <input id="upload-input" type="file" style="display: none;" />
</div>