<div class="inner-container">
    <div id="progressNumber" class="progress-number">0</div>
    <div id="fileSize" class="file-size"><span id="finished">1MB</span><span id="total">2MB</span></div>
    <div id="fileName" class="file-name">test测试.zip</div>
    <div id="cancelButton" class="cancel-button">Cancel</div>
</div>