<div class="inner-container">
    <img class="qrcode" src="/static/img/qrcode.jpg" alt="qrcode" />
    <div class="url">
        <input id="urlBox" class="url-box" readonly="readonly" value="https://rajio.delbertbeta.cc/s/efD2" />
        <div id="copyButton" class="copy-botton">Copy</div>
    </div>
    <div class="function-line">
        <span>This file will be expired after </span>
        <span id="timesChoice" class="choices"><span>unlimited</span><span><svg width="16" height="16"><polygon points="4 9 8.5 14 13 9" fill="#0080db"></polygon></svg></span></span>
        <span>times download<br />or </span>
        <span id="dayChoice" class="choices"><span>unlimited days</span><span><svg width="16" height="16"><polygon points="4 9 8.5 14 13 9" fill="#0080db"></polygon></svg></span></span>
        <span>.</span>
    </div>
    <div id="goBackButton" class="go-back-button">Select another file</div>
    <div id="deleteButton" class="delete-button">delete this file</div>
</div>