<div class="inner-container">
    <div id="progressNumber" class="progress-number">0</div>
    <div id="fileSize" class="file-size"><span id="finished"></span><span id="total"></span></div>
    <div id="fileName" class="file-name"></div>
    <div id="cancelButton" class="cancel-button">Cancel</div>
</div>