<div class="inner-container">
    <img alt="qrcode" />
    <div class="url">
        <input class="url-box" />
        <div class="copy-botton">Copy</div>
    </div>
    <div class="function-line">
        <span>This file will be expired after </span>
        <span class="choices">unlimited
            <ul class="hide-options">
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>10</li>
                <li>20</li>
                <li>50</li>
                <li>unlimited</li>
            </ul>
        </span>
        <span>times download or </span>
        <span class="choices">unlimited days
            <ul class="hide-options">
                <li>1 hour</li>
                <li>12 hours</li>
                <li>1 day</li>
                <li>7 day</li>
                <li>1 month</li>
                <li>0.5 years</li>
                <li>1 year</li>
                <li>unlimited days</li>
            </ul>
        </span>
        <span>.</span>
    </div>
    <div class="go-back-button">Select another file</div>
    <div class="delete-button">delete this file</div>
</div>