a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none; }

html {
  width: 100%;
  height: 100%;
  background-image: url(/static/img/texture.png);
  background-size: 20rem;
  background-repeat: no-repeat;
  background-position: bottom 5% right 5%;
  font-family: sans-serif; }

body {
  margin: 0;
  min-width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.header {
  width: 100%;
  height: 8rem;
  padding: 2rem 5%;
  box-sizing: border-box;
  position: relative; }
  .header .header-icon {
    vertical-align: middle;
    font-size: 4rem;
    color: #6a6a6a; }
  .header .header-title {
    vertical-align: middle;
    font-size: 4rem;
    color: #6a6a6a; }
  .header .header-expaination {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    margin-bottom: 0.6rem;
    margin-left: 0.5rem;
    font-size: 1.5rem;
    color: #838383;
    font-weight: 300; }

.footer {
  width: 100%;
  height: 8rem;
  padding: 2rem 5%;
  box-sizing: border-box;
  position: relative; }
  .footer .footer-text {
    color: #6a6a6a;
    font-size: 0.8rem;
    vertical-align: middle; }
    .footer .footer-text a {
      color: inherit;
      text-decoration: underline; }
    .footer .footer-text .red-icon {
      color: #ff7373;
      vertical-align: top; }

.uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5vh;
  transform-style: preserve-3d;
  perspective: 1000px; }
  .uploader .container {
    position: relative;
    display: block;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    height: 50vh;
    width: 60vw;
    overflow: hidden;
    transition: all 0.2s ease;
    background-color: rgba(255, 255, 255, 0.9); }
    .uploader .container .nav-bar {
      display: flex;
      position: relative;
      height: 3rem;
      justify-content: space-between; }
      .uploader .container .nav-bar ul {
        padding-left: 0;
        position: relative;
        display: inline-block;
        text-align: center;
        width: 50%;
        margin: 0;
        padding: 1rem 0;
        font-size: 1rem;
        color: #6a6a6a;
        cursor: pointer; }
      .uploader .container .nav-bar .nav-visual {
        position: absolute;
        display: block;
        width: 50%;
        border-top: 2px solid #b3b3b3;
        top: 100%;
        left: 0;
        transition: left 0.5s ease; }
    .uploader .container .uploader-file-container {
      width: 100%;
      height: calc(100% - 3rem);
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      left: 0px;
      transition: left 0.5s ease; }
      .uploader .container .uploader-file-container .upload-icon {
        font-size: 4rem;
        color: #0080db;
        cursor: default; }
      .uploader .container .uploader-file-container .tip-text {
        font-weight: 300;
        font-size: 1.6rem;
        color: #6a6a6a;
        margin-top: 2rem; }
      .uploader .container .uploader-file-container .tip-text-small {
        font-weight: 300;
        font-size: 0.8rem;
        color: #6a6a6a;
        margin-top: 0.5rem; }
      .uploader .container .uploader-file-container .upload-button {
        height: 3.6rem;
        width: 16rem;
        background-color: #0080db;
        border-radius: 6px;
        font-size: 1.2rem;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1.5rem;
        cursor: pointer;
        transition: background-color 0.2s ease; }
      .uploader .container .uploader-file-container .upload-button:hover {
        background-color: #3e9bdd; }
    .uploader .container .uploader-text-container {
      width: 100%;
      height: calc(100% - 3rem);
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      transition: left 0.5s ease;
      left: 100%; }
      .uploader .container .uploader-text-container .input-area {
        height: calc(100% - 5rem);
        width: 100%;
        padding: 1rem 2rem;
        box-sizing: border-box;
        overflow-y: auto;
        word-wrap: break-word;
        word-break: break-all; }
      .uploader .container .uploader-text-container .input-area:focus {
        outline: none; }
      .uploader .container .uploader-text-container .input-area:empty:not(:focus):before {
        content: attr(placeholder);
        color: grey; }
      .uploader .container .uploader-text-container .upload-button {
        height: 3.6rem;
        width: 16rem;
        background-color: #0080db;
        border-radius: 6px;
        font-size: 1.2rem;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-bottom: 1rem;
        transition: background-color 0.2s ease; }
      .uploader .container .uploader-text-container .upload-button:hover {
        background-color: #3e9bdd; }
  .uploader .container.enlarge {
    transform: scale(1.2);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3); }
    .uploader .container.enlarge .uploader-file-container * {
      pointer-events: none; }
  .uploader .container.right .nav-bar .nav-visual {
    left: 50%; }
  .uploader .container.right .uploader-text-container {
    left: 0; }
  .uploader .container.right .uploader-file-container {
    left: -100%; }
  .uploader .progress-container {
    position: relative;
    display: block;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    height: 50vh;
    width: 60vw;
    overflow: hidden;
    transition: all 0.2s ease;
    background-color: rgba(255, 255, 255, 0.9); }
    .uploader .progress-container .inner-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%; }
      .uploader .progress-container .inner-container .progress-number {
        font-weight: 300;
        font-size: 3rem; }
      .uploader .progress-container .inner-container .progress-number::after {
        content: '%'; }
      .uploader .progress-container .inner-container .file-size {
        font-weight: 300;
        margin-top: 0.5rem; }
        .uploader .progress-container .inner-container .file-size span:first-child::after {
          content: '/'; }
      .uploader .progress-container .inner-container .file-name {
        margin-top: 1rem;
        font-weight: 300; }
      .uploader .progress-container .inner-container .cancel-button {
        height: 3.6rem;
        width: 16rem;
        background-color: #dd3e46;
        border-radius: 6px;
        font-size: 1.2rem;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        margin-top: 2rem;
        transition: background-color 0.2s ease; }
      .uploader .progress-container .inner-container .cancel-button:hover {
        background-color: #e05b62; }
  .uploader .result-container {
    position: relative;
    display: block;
    height: 50vh;
    width: 60vw;
    overflow: hidden;
    transition: all 0.2s ease; }
    .uploader .result-container .inner-container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }

.hide {
  display: none !important; }

.rotateIn {
  animation: 0.5s cubic-bezier(0.2, 0.7, 0.04, 0.99) 0s 1 both rotateIn; }

@keyframes rotateIn {
  0% {
    transform: rotateY(-90deg); }
  100% {
    transform: rotateY(0deg); } }

.rotateOut {
  animation: 0.5s cubic-bezier(0.89, 0.01, 0.89, 0.99) 0s 1 both rotateOut; }

@keyframes rotateOut {
  0% {
    transform: rotateY(0deg); }
  100% {
    transform: rotateY(90deg); } }
