.footer {
  width: 100%;
  height: 8rem;
  padding: 2rem 5%;
  box-sizing: border-box;
  position: relative; }
  .footer .footer-text {
    color: #6a6a6a;
    font-size: 0.8rem;
    vertical-align: middle; }
    .footer .footer-text a {
      color: inherit;
      text-decoration: underline; }
    .footer .footer-text .red-icon {
      color: #ff7373;
      vertical-align: top; }

.header {
  width: 100%;
  height: 8rem;
  padding: 2rem 5%;
  box-sizing: border-box;
  position: relative; }
  .header .header-icon {
    vertical-align: middle;
    font-size: 4rem;
    color: #6a6a6a; }
  .header .header-title {
    vertical-align: middle;
    font-size: 4rem;
    color: #6a6a6a; }
  .header .header-expaination {
    display: inline-block;
    position: relative;
    vertical-align: bottom;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
    font-size: 1.5rem;
    color: #838383;
    font-weight: 300; }
  .header .history-entry {
    position: absolute;
    display: flex;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0);
    height: 2.5rem;
    width: 2.5rem;
    transition: background-color 0.2s ease;
    justify-content: center;
    align-items: center;
    right: 5%;
    bottom: 1.5rem;
    color: #6a6a6a;
    cursor: pointer; }
    .header .history-entry i {
      font-size: 2rem; }
  .header .history-entry:hover {
    background-color: rgba(0, 0, 0, 0.1); }

.history-panel {
  position: fixed;
  height: 50vh;
  width: 720px;
  right: 5%;
  top: 7rem;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 0px 16px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  z-index: 2;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden; }
  .history-panel .renew-button {
    display: flex;
    justify-content: center;
    align-items: center; }
    .history-panel .renew-button div {
      padding: 6px 12px;
      display: flex;
      align-items: center;
      transition: background-color 0.2s ease;
      border-radius: 4px; }
    .history-panel .renew-button div:hover {
      cursor: pointer;
      background-color: rgba(0, 0, 0, 0.1); }
  .history-panel i {
    cursor: pointer; }
  .history-panel .table-wrapper::-webkit-scrollbar-track {
    border-radius: 4px;
    background-color: #F5F5F5; }
  .history-panel .table-wrapper::-webkit-scrollbar {
    width: 8px;
    background-color: #F5F5F5; }
  .history-panel .table-wrapper::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #555; }
  .history-panel .table-wrapper {
    width: 100%;
    height: 43vh;
    overflow-x: hidden;
    overflow-y: auto; }
    .history-panel .table-wrapper table {
      width: 100%;
      table-layout: fixed;
      overflow-y: auto; }
      .history-panel .table-wrapper table tr {
        font-weight: 300;
        position: relative;
        height: 2rem; }
        .history-panel .table-wrapper table tr th {
          font-weight: normal; }
        .history-panel .table-wrapper table tr th:first-child {
          text-align: left; }
        .history-panel .table-wrapper table tr td:first-child {
          text-align: left;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis; }
        .history-panel .table-wrapper table tr td {
          text-align: center; }
          .history-panel .table-wrapper table tr td i {
            color: #6a6a6a; }
      .history-panel .table-wrapper table tr:first-child {
        color: #6a6a6a;
        border-bottom: 1px solid #838383; }
  .history-panel .empty-tip {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    color: #6a6a6a; }

@media (max-width: 500px) {
  .footer {
    height: 4rem;
    padding: 1rem 1rem;
    margin-bottom: 1rem; } }

@media (max-width: 500px) {
  .header {
    height: 4rem;
    padding: 1rem 5%; }
    .header .header-icon {
      font-size: 2rem; }
    .header .header-title {
      font-size: 2rem; }
    .header .header-expaination {
      font-size: 1rem; }
    .header .history-entry {
      bottom: 0.5rem; }
  .history-panel {
    height: 60vh;
    width: 95vw;
    top: 8vh;
    left: 2.5vw; }
    .history-panel .renew-button {
      margin-top: 6px; }
    .history-panel .table-wrapper::-webkit-scrollbar {
      width: 2px; }
    .history-panel .table-wrapper::-webkit-scrollbar-track {
      border-radius: 2px; }
    .history-panel .table-wrapper::-webkit-scrollbar-thumb {
      border-radius: 2px; }
    .history-panel .table-wrapper {
      height: 51vh;
      overflow-x: auto; } }

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none; }

html {
  width: 100%;
  background-image: url(/static/img/texture.png);
  background-size: 20rem;
  background-repeat: no-repeat;
  background-position: bottom 5% right 5%;
  font-family: sans-serif; }

body {
  margin: 0;
  min-width: 100%; }

.hide {
  display: none !important; }

.info-text-wrapper {
  color: #353535;
  margin-top: 20px;
  width: 60vw;
  margin-left: 20vw;
  display: flex;
  justify-content: space-around; }
  .info-text-wrapper .info-text {
    width: 33%; }
    .info-text-wrapper .info-text .title {
      font-weight: 200;
      font-size: 24px; }
    .info-text-wrapper .info-text .text {
      margin-top: 8px;
      font-size: 18px;
      color: #888; }
    .info-text-wrapper .info-text .graph {
      position: relative;
      margin-top: 4px;
      height: 4px;
      width: 100%;
      background-color: #eeeeee;
      border-radius: 2px;
      overflow: hidden; }
      .info-text-wrapper .info-text .graph .graph-inner {
        height: 4px;
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 2px;
        width: 0%;
        transition: width 1s ease;
        background-color: #888; }

.chart-wrapper {
  margin-top: 32px;
  display: flex;
  justify-content: center; }
  .chart-wrapper .chart {
    height: 400px;
    width: 800px; }

@media (max-width: 500px) {
  html {
    background-size: 14rem;
    background-position: bottom 1rem right 1rem; }
  .info-text-wrapper {
    width: 80vw;
    margin-left: 10vw;
    flex-wrap: wrap; }
    .info-text-wrapper .info-text {
      font-size: 18px;
      margin-bottom: 16px;
      width: 100%; } }
