.header {
    width: 100%;
    height: 8rem;
    padding: 2rem 5%;
    box-sizing: border-box;
    position: relative;
    .header-icon {
        vertical-align: middle;
        font-size: 4rem;
        color: #6a6a6a;
    }
    .header-title {
        vertical-align: middle;
        font-size: 4rem;
        color: #6a6a6a;
    }
    .header-expaination {
        // position: absolute;
        // right: 5%;
        // bottom: 2rem;
        display: inline-block;
        position: relative;
        vertical-align: bottom;
        margin-bottom: 0.6rem;
        margin-left: 0.5rem;
        font-size: 1.5rem;
        color: #838383;
        font-weight: 300;
    }
    .history-entry {
        position: absolute;
        display: flex;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0);
        height: 2.5rem;
        width: 2.5rem;
        transition: background-color 0.2s ease;
        justify-content: center;
        align-items: center;
        right: 5%;
        bottom: 1.5rem;
        
        color: #6a6a6a;
        cursor: pointer;
        i {
            font-size: 2rem;
        }
    }
    .history-entry:hover {
        background-color: rgba(0, 0, 0, 0.2);
    }
}