.uploader {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5vh;
    transform-style: preserve-3d;
    perspective: 1000px;
    .container {
        position: relative;
        display: block;
        border-radius: 2px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
        height: 60vh;
        width: 60vw;
        overflow: hidden;
        transition: all 0.2s ease;
        background-color: rgba(255, 255, 255, 0.9);
        .nav-bar {
            display: flex;
            position: relative;
            height: 3rem;
            justify-content: space-between;
            ul {
                padding-left: 0;
                position: relative;
                display: inline-block;
                text-align: center;
                width: 50%;
                flex-grow: 1;
                margin: 0;
                padding: 1rem 0;
                font-size: 1rem;
                color: #6a6a6a;
                cursor: pointer;
            }
            .nav-visual {
                position: absolute;
                display: block;
                width: 50%;
                border-top: 2px solid #b3b3b3;
                top: 100%;
                left: 0;
                transition: left 0.5s ease;
            }
        }
        .uploader-file-container {
            width: 100%;
            height: calc(100% - 3rem);
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            left: 0px;
            transition: left 0.5s ease;
            .upload-icon {
                font-size: 4rem;
                color: #0080db;
                cursor: default;
            }
            .tip-text {
                font-weight: 300;
                font-size: 1.6rem;
                color: #6a6a6a;
                margin-top: 2rem;
            }
            .tip-text-small {
                font-weight: 300;
                font-size: 0.8rem;
                color: #6a6a6a;
                margin-top: 0.5rem;
            }
            .upload-button {
                height: 3.6rem;
                width: 16rem;
                background-color: #0080db;
                border-radius: 6px;
                font-size: 1.2rem;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 1.5rem;
                cursor: pointer;
                transition: background-color 0.2s ease;
            }
            .upload-button:hover {
                background-color: #3e9bdd;
            }
        }
        .uploader-text-container {
            width: 100%;
            height: calc(100% - 3rem);
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            transition: left 0.5s ease;
            left: 100%;
            .input-area {
                height: calc(100% - 5rem);
                width: 100%;
                padding: 1rem 2rem;
                box-sizing: border-box;
                overflow-y: auto;
                word-wrap: break-word;
                word-break: break-all;
            }
            .input-area:focus {
                outline: none;
            }
            .input-area:empty:not(:focus):before {
                content: attr(placeholder);
                color: grey;
            }
            .upload-button {
                height: 3.6rem;
                width: 16rem;
                background-color: #0080db;
                border-radius: 6px;
                font-size: 1.2rem;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin-bottom: 1rem;
                transition: background-color 0.2s ease;
            }
            .upload-button:hover {
                background-color: #3e9bdd;
            }
        }
    }
    .container.enlarge {
        transform: scale(1.2);
        box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
        .uploader-file-container {
            * {
                pointer-events: none;
            }
        }
    }
    .container.right {
        .nav-bar {
            .nav-visual {
                left: 50%;
            }
        }
        .uploader-text-container {
            left: 0;
        }
        .uploader-file-container {
            left: -100%;
        }
    }
    .progress-container {
        position: relative;
        display: block;
        border-radius: 2px;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
        height: 60vh;
        width: 60vw;
        overflow: hidden;
        transition: all 0.2s ease;
        background-color: rgba(255, 255, 255, 0.9);
        .inner-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100%;
            .progress-number {
                font-weight: 300;
                font-size: 3rem;
            }
            .progress-number::after {
                content: '%';
            }
            .file-size {
                font-weight: 300;
                margin-top: 0.5rem;
                span:first-child::after {
                    content: '/';
                }
            }
            .file-name {
                margin-top: 1rem;
                font-weight: 300;
            }
            .cancel-button {
                height: 3.6rem;
                width: 16rem;
                background-color: #dd3e46;
                border-radius: 6px;
                font-size: 1.2rem;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin-top: 2rem;
                transition: background-color 0.2s ease;
            }
            .cancel-button:hover {
                background-color: #e05b62;
            }
        }
    }
    .result-container {
        position: relative;
        display: block;
        height: 60vh;
        width: 60vw;
        transition: all 0.2s ease;
        .inner-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            .qrcode {
                width: 200px; // box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
                transition: all 0.5s ease;
            }
            .qrcode:hover {
                box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
                transform: scale(1.2);
            }
            .url {
                overflow: hidden;
                height: 3rem;
                width: 500px;
                border-radius: 6px;
                border: 1px solid #0080db;
                display: flex;
                justify-content: space-between;
                margin-top: 0.5rem;
                .url-box {
                    display: inline-block;
                    width: 400px;
                    height: 100%;
                    border: none;
                    color: #6a6a6a;
                    padding-left: 10px;
                    padding-right: 10px;
                    font-size: 1rem;
                    font-family: sans-serif;
                    font-weight: 300;
                }
                .copy-botton {
                    display: inline-block;
                    height: 100%;
                    width: 100px;
                    background-color: #0080db;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    transition: background-color 0.5s ease;
                }
                .copy-botton:hover {
                    background-color: #3e9bdd;
                }
            }
            .function-line {
                font-weight: 300;
                line-height: 1rem;
                font-size: 1rem;
                text-align: center;
                margin: 1rem 0 2rem 0;
            }
            .go-back-button {
                height: 3.6rem;
                width: 16rem;
                background-color: #0080db;
                border-radius: 6px;
                font-size: 1.2rem;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin-bottom: 0.5rem;
                transition: background-color 0.2s ease;
            }
            .go-back-button:hover {
                background-color: #3e9bdd;
            }
            .delete-button {
                margin: 0;
                font-size: 0.8rem;
                color: #6a6a6a;
                cursor: pointer;
            }
        }
    }
    .error-container {
        position: relative;
        display: block;
        height: 60vh;
        width: 40vw;
        transition: all 0.2s ease;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.05);
        .inner-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100%;
            .error {
                width: 200px;
                height: 200px;
            }
            .tip {
                font-size: 18px;
                color: #e05b62;
                margin-top: 16px;
                margin-bottom: 64px;
            }
            .back-button {
                height: 3.6rem;
                width: 16rem;
                background-color: #0080db;
                border-radius: 6px;
                font-size: 1.2rem;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                margin-bottom: 0.5rem;
                transition: background-color 0.2s ease;
            }
            .back-button:hover {
                background-color: #3e9bdd;
            }
        }
    }
}