@media (max-width: 500px){
  .uploader {
    padding-bottom: 0;
    .container {
      min-height: 440px;
      height: 60vh;
      width: 90vw;
      .uploader-file-container {
        .tip-text {
          font-size: 1.2rem;
        }
        // .upload-button {
        //   font-size: 1rem;
        //   width: 14rem;
        //   height: 3.2rem;
        // }
      }
    }
    .progress-container {
      height: 60vh;
      width: 90vw;
      .file-name {
        width: 80%;
        text-align: center;
      }
    }
    .result-container {
      height: 70vh;
      width: 90vw;
      .url {
        width: 100% !important;
      }
      .copy-botton {
        flex-shrink: 0;
      }
      .function-line {
        font-size: 0.8rem;
      }
      .qrcode {
        width: 120px !important;
      }
      .download-code-wrapper {
        padding: 4px 32px !important;
        .download-code {
          font-size: 22px !important;
        }
      }
    }
    .error-container {
      height: 60vh;
      width: 90vw;
      .tip {
        width: 80%;
        text-align: center;
      }
    }
  }
}
