@import '_footer';
@import '_header';
@import '_footer_mobile';
@import '_header_mobile';

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

html {
    width: 100%;
    height: 100%;
    background-image: url(/static/img/texture.png);
    background-size: 20rem;
    background-repeat: no-repeat;
    background-position: bottom 5% right 5%;
    font-family: sans-serif;
    overflow: hidden;
}

body {
    margin: 0;
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hide {
  display: none !important;
}

.uploader {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5vh;
  transform-style: preserve-3d;
  perspective: 1000px;
  .download-container {
    position: relative;
    display: block;
    height: 60vh;
    width: 60vw;
    transition: all 0.2s ease;
    .inner-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
        .title {
            font-weight: 200;
            font-size: 32px;
            color: #353535;
            text-align: center;
            word-break: break-word;
        }
        .explanation {
            width: 60%;
            margin-top: 12px;
            font-size: 16px;
            color: #505050;
            text-align: center;
        }
        .url {
            overflow: hidden;
            height: 3rem;
            width: 500px;
            border-radius: 6px;
            border: 1px solid #0080db;
            display: flex;
            justify-content: space-between;
            margin-top: 1.2rem;
            .url-box {
                display: inline-block;
                width: 400px;
                height: 100%;
                border: none;
                color: #6a6a6a;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 1rem;
                font-family: sans-serif;
                font-weight: 300;
            }
            .copy-botton {
                display: inline-block;
                height: 100%;
                width: 100px;
                background-color: #0080db;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                transition: background-color 0.5s ease;
            }
            .copy-botton:hover {
                background-color: #3e9bdd;
            }
        }
        .not-found {
            margin-top: 32px;
            height: 220px;
            width: 220px; 
        }
        .download {
            height: 160px;
            width: 160px;
        }
        .go-back-button {
            margin-top: 1.2rem;
            height: 3.6rem;
            width: 16rem;
            background-color: #0080db;
            border-radius: 6px;
            font-size: 1.2rem;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            margin-bottom: 0.5rem;
            transition: background-color 0.2s ease;
        }
        .go-back-button:hover {
            background-color: #3e9bdd;
        }
    }
  }
}

@media (max-width: 500px) {
    html {
        background-size: 14rem;
        background-position: bottom 1rem right 1rem;
    }
    .download-container {
        height: 70vh !important;
        width: 90vw !important;
        .title {
            font-size: 26px !important;
        }
        .explanation {
            width: 90% !important;
        }
        .url {
            width: 100% !important;
        }
        .download {
            height: 120px !important;
            width: 120px !important;
        }
      .copy-botton {
        flex-shrink: 0;
        }
    }
}