<!DOCTYPE html>
<html lang="zh-cn">

<%- include components/head.ejs -%>

<body>
    <%- include components/header.ejs -%>
    <%- include components/uploader.ejs -%>
    <%- include components/footer.ejs -%>
    <script src="/static/js/index.js"></script>
</body>

</html>