<!DOCTYPE html>
<html lang="zh-cn">

<%- include components/head.ejs -%>
<link href="/static/css/download.css" rel="stylesheet">

<body>
    <%- include components/header.ejs -%>
    <%- include components/share.ejs -%>
    <%- include components/footer.ejs -%>
    <script src="/static/js/share.js"></script>
</body>

</html>