<!DOCTYPE html>
<html lang="zh-cn">

<%- include components/head.ejs -%>
<link href="/static/css/status.css" rel="stylesheet">
<body>
    <%- include components/header.ejs -%>
    <%- include components/status.ejs -%>
    <%- include components/footer.ejs -%>
    <script src="/static/js/echarts.min.js"></script>
    <script src="https://cdnjs.loli.net/ajax/libs/filesize/3.6.1/filesize.min.js"></script>
    <script src="/static/js/status.js"></script>
</body>

</html>